<%- include partials/header.ejs %> 

 <%- include partials/main_nav.ejs %> 
  <!--Main Content-->
  <main>
  <div class="p-5 text-center bg-light">
    <h3><%=title %> Offered by Me:</h3>
    <div class="row-center"><br>

      <p>IoT and Embedded Hardware Testing</p>
      <img src="/Assets/images/ultra96.png" alt="Service" style="width:20%"><br><br><br><br>


      <p>Python Language Support</p>
      <img src="/Assets/images/python.png" alt="Service" style="width:20%"><br><br><br><br>


    <p>Java Debugging</p>
    <img src="/Assets/images/1_iIXOmGDzrtTJmdwbn7cGMw.png" alt="Service" style="width:20%"><br><br><br><br>


    <p>C# Debugging</p>
    <img src="/Assets/images/C-Sharp.png" alt="Service" style="width:20%">
    </div>
  </main>
  <%- include partials/bottom_nav %> 
 <%- include partials/footer.ejs %> 
   










